- Create a summary.txt file for the data-*.csv, and give:
    - mean, sd, range(min,max) of both the x and y values
    - correlation coefficient (r) between the x and y variables
    - one sentence description: describe set to someone and say what you think someone needs     to know about it.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [53]:
# Load the datasets
d1 = pd.read_csv("data-1.csv")
d2 = pd.read_csv("data-2.csv")
d3 = pd.read_csv("data-3.csv")
d4 = pd.read_csv("data-4.csv")
d5 = pd.read_csv("data-5.csv")
d6 = pd.read_csv("data-6.csv")

In [54]:
d1.head()

           x          y
0  29.168628  26.350615
1  12.801887  11.705425
2  19.744856  15.331458
3  34.890718  27.384153
4  30.410696  20.859101

In [55]:
df = pd.DataFrame(columns=['Mean', 'Standard Deviation', 'Min.','Max.','Correlation Coefficient'],
                 index=['x','y'])
df

  Mean Standard Deviation Min. Max. Correlation Coefficient
x  NaN                NaN  NaN  NaN                     NaN
y  NaN                NaN  NaN  NaN                     NaN

In [63]:
def get_stats(dataset, x_col, y_col):
    results = pd.DataFrame(columns=['Mean', 'Standard Deviation', 'Min','Max','r'],
                 index=[x_col, y_col])
    results.loc[x_col]['Mean'] = dataset[x_col].mean()
    results.loc[y_col]['Mean'] = dataset[y_col].mean()
    
    results.loc[x_col]['Standard Deviation'] = dataset[x_col].std()
    results.loc[y_col]['Standard Deviation'] = dataset[y_col].std()
    
    results.loc[x_col]['Min'] = dataset[x_col].min()
    results.loc[y_col]['Min'] = dataset[y_col].min()
    
    results.loc[x_col]['Max'] = dataset[x_col].max()
    results.loc[y_col]['Max'] = dataset[y_col].max()   
    
    results.loc[x_col]['r'] = dataset[x_col].corr(dataset[y_col])
    results.loc[y_col]['r'] = dataset[y_col].corr(dataset[x_col])
    
    return results

In [64]:
dataset1 = get_stats(d1, 'x', 'y')
dataset2 = get_stats(d2, 'x', 'y')

        Mean Standard Deviation        Min        Max         r
x   8.717696          12.155517 -22.635878  35.237055  0.950326
y  12.522874           6.639964  -2.565088  27.384153  0.950326

8.71769618641382